.ac {
  margin-top: 6rem;
}

.ac-profile {
  height: 10rem;
  width: 10rem;
}

.ac-icon ion-icon {
  font-size: 1.2rem;
  color: #198754;
}

.ac-ratings ion-icon {
  font-size: 1.2rem;
  color: #ffb703;
}

.profile:hover {
  cursor: pointer;
  background-color: #edf6f9;
}

.profile_scroll {
  overflow-y: scroll;
  height: 60rem;
}

.profile_scroll::-webkit-scrollbar {
  display: none;
}

.profile-info-scroll {
  overflow-y: scroll;
  height: 30rem;
}

.profile-info-scroll::-webkit-scrollbar {
  display: none;
}
